%main-button {
    border: 1px solid #ffa45c;
    background-color: #ffa45c;
    border-radius: 3px;
    padding-left: 3rem;
    padding-right: 3rem;
    box-shadow: 0 24px 36px -11px rgba(0, 0, 0, 0.09);
    border-radius: 30px;
}