@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
<div class="row">
        <h2>Confirming</h2>

        <div style="padding:50px 0px" class="d-flex">

            <div class="text-wrapper">

                <h2>Please veirfy your email addres, verification link has been sent to your inbox</h2>

                <a class="btn btn-primary" style="padding:10px 20px;  color:white; text-decoration:none" href="https://mail.google.com">Go To Verify</a>

            </div>
        </div>
</div>

</div>
